input {
    width: 45%;
    margin-left: 10px;
}

.save-btn {
    margin-top: 10px;
}

@media (max-width: 1024px){
  input {
    width: 55%;
  }
}

@media (max-width: 768px){
  input {
    width: 80%;
  }
}

@media (max-width: 480px) {
  input {
    width: 120%;
  }
}
