body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #eaedff;
}

.content {
    /* text-align: center; */
    transition: margin-left 0.3s;
    margin-top: -40px;
    /* margin-left: 20px; */
}

.container {
    width: 100%;
    padding-left: 2%;
}

/* .header {
position: fixed;
top: 0;
width: 100%;
background-color: #ffffff;
z-index: 999;
} */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
    border-bottom: 2px solid #4662b6;
    margin-bottom: 10px;
    /* padding-bottom: 10px; */
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #271083;
    margin: 3px 0;
    margin-left: 20px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    color: #1e0b69;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    color: #1e0b69;
    margin-bottom: 15px;
    margin-top: 30px;
}


.header-icons {
    display: flex;
    align-items: center;
}

.icon-btn {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 50%;
    border: none;
    background-color: #4542d0;
    cursor: pointer;
}

.account-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #4542d0;
    cursor: pointer;
    position: relative;
}

.account-icon::before {
    content: "A";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.notification-icon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.notification-icon-btn i {
    color: #4542d0;
    font-size: 24px;
    margin-right: 10px;
}

.create-table-btn {
    background-color: #4542d0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    /* margin-left: auto; */
    font-weight: 700;

    a {
        text-decoration: none;
    }

}


.cancel-btn {
    padding: 10px 20px;
    background-color: transparent;
    color: #1e0b69;
    border: 1px solid #1e0b69;
    border-radius: 5px;
    cursor: pointer;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.cancel-btn:focus {
    outline: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    margin-left: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #ccc;
}

.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #656fc7;
    padding-top: 60px;
    transition: left 0.3s ease;
}

.sidebar.active {
    margin-left: 250px;
}

.close-sidebar-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
    }
}

.edit-table-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filters {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.input-field {
    width: calc(50% - 30px);
    height: 40px;
    padding-left: 10px;
    border: 1px solid #424588;
    border-radius: 5px;
    background-color: #d5daff;
    color: #424588;
}

.input-field:first-child {
    margin-right: 20px;
}

input[type=number] {
    height: 40px;
    padding-left: 10px;
    border: 1px solid #424588;
    border-radius: 5px;
    background-color: #d5daff;
    color: #424588;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

.column-list li {
    color: #1e0b69;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: -20px;
}

.column-type-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #d5daff;
    color: #1e0b69;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

.edit-btn,
.delete-btn {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.edit-btn i,
.delete-btn i {
    color: #6859a7;
}

.select-input {
    height: 42px;
    padding-right: 10px;
}

.save-btn {
    background-color: #4542d0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
    font-weight: 700;
}

.delete-btn {
    background-color: transparent;
    color: #ff6961;
    border: 1px solid #ff6961;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;

    a {
        text-decoration: none;
        color: inherit;
    }
}

a > .delete-btn {
    text-decoration: none;
    color: inherit;

}

.delete-btn.small {
    border: none;
    margin-left: 0;
    height: 16px;
    font-weight: 200 !important;
}

.delete-btn.small:hover {
    background-color: transparent;
}

.delete-btn:hover {
    background-color: #ff6961;
    color: white;
}

.checkbox-input {
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    transform: scale(1.2);
}

.messages {
    width: 60%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ff6961;
    border: 2px solid red;
    border-radius: 5px;
}

.invalid_field {
    border: 1px solid red;
}

span.error {
    color: #ff1d31;
    font-style: italic;
    font-size: 14px;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.action-buttons {
    margin-top: 5px;
}

.action-buttons a {
    text-decoration: none;
}
